body{
font-family:  'Liberation Sans', 'Arial',sans-serif;
background-color:#FFFFFF;
color:#000000;
margin-top: 5px;
margin-left: 5px;
margin-right: 5px;
margin-bottom: 5px;
}

a:link    { color:#335d88;font-weight: bold; text-decoration: none;}
a:visited { color:#335d88;font-weight: bold;  text-decoration: none;}
a:hover   { color:#335d88;font-weight: bold; text-decoration: none;}

h2{
font-size: 1.2em;
font-weight: bold;
color: #335d88;
}

h1{
 font-size: 1.4em;
font-weight: bold;
color: #335d88;
}

a{
  font-size: 1.3em;
  color: #2DB5A0;
}

.header{
font-size: 1.8em;
text-align:center;
margin:10px;
font-weight: bold;
}
